.grid {
    display:flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    }
  
  table {
    border-collapse: collapse;
    width: 540px;
    height: 540px;
    padding: 0px;
  }

  table td {
    width: 9%;
    text-align: center;
    border: 1px solid black;
    padding: 0px;
    position: relative;
  }

  table tr:nth-child(3n+1) td {
    border-top: 2px solid #000;
  }
  
  table td:nth-child(3n+1) {
    border-left: 2px solid #000;
  }
  
  /* Add thicker borders for outer cells */
  table tr:nth-child(3n + 3) td {
    border-bottom: 2px solid #000;
  }
  
  table td:nth-child(3n + 3) {
    border-right: 2px solid #000;
  }

  .input{
    width:100%;
    height: 100%;
    padding: 0%;
    margin: 0;
    border: none;
    outline: none;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fix{
    background-color: lightgray;
}

.difficulty{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
  }
  
.difficulty select{
    width: 8em;
    height: 2em;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    outline: none;
    border: 2px solid #1abc9c;
    border-radius: 4px;
}

.invalid{
  background-color: red;
  color:white;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 550;
  margin-left: 1rem;
  float: right;
  
}

.button:hover {
  background-color: #08997c;
}

.button:active{
  box-shadow: 0px 2px 2px 0px gray;
}

.floating-div {
  position: absolute;
  width:1rem;
  height: 1rem;
  z-index: 2;
  overflow-y: hidden;
  top: 1px;
}


.floating-div img {
  width: 100%;
  height: 100%;

}

.hints{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 1%;
}

.hints td{
  border: collapse;
  width: 30px;
  height: 30px;
}

.hints input{
  width: 100%;
  height: 100%;
  border:2px;
  border-radius: 10px;
  background-color: rgb(176, 171, 171);
}